<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">

</head>
  <body>
  <header th:replace="~{fragments :: header}"></header>
  <div id="map_div" style="display: block; width: 100%; height: 100%; margin: auto"></div>
  <script async
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgfwP9_Iur5vGE5suxMVNq3qwiONfMq2I&loading=async&callback=initMap">
  </script>
  <script th:src = "@{/map/mapScript.js}"></script>

  <footer th:replace="~{fragments :: footer}"></footer>

  </body>
  </html>